@import 'lib.scss';
@import 'variable.scss';
@import 'Components/Button.scss';
@import 'Components/Input.scss';
@import 'Components/Icon.scss';
@import 'Components/Menu.scss';
@import 'tools.scss';


body {
    margin: 0;
}

.top {
    @include sizeXY(none, auto);
    border-top: 5px solid $border-top-color;
    border-bottom: 3px solid $border-bottom-color;
    margin: auto;
}

.top .flex-top {
    @extend %u-flex-box-row, %u-flex-justity-space-between;
    @include sizeXY(960px , 100% );
    margin: auto;
    .social, .Search, .logo, .menu {
       
    }
}

/*-- social --*/

.social {
    @extend %u-flex-box-row, %u-flex-align-content-center;
    @include sizeXY(300px, 70px);
    div {
        @extend %u-Icon;
        margin-right: 15px;
    }

    .linkedin:hover {
        background-color: $linkedinColor;
    }
    .twitter:hover {
        background-color: $twitterColor;
    }
    .pinterest:hover {
        background-color: $pinterestColor
    }
    .google:hover {
        background-color: $googleColor;
    }
    .rss:hover {
        background-color: $rssColor;
    }
}

/*-- Search --*/

.Search {
    @extend %u-flex-box-row, %u-flex-align-content-center, %u-flex-justity-flex-end;
    @include sizeXY(630px, 70px);
    input {
       @extend %u-Input;
    }
    .searchButton {
       @extend %u-Button;
       @include sizeXY(70px, 35px);
       margin-left: 5px;
    }

}

/*-- Logo --*/

.logo {
    @include sizeXY(300px, 70px);
    img {
        margin-top: 10px;
    }
}

/*-- menu  --*/

.menu {
    @include sizeXY(630px, 70px);
    @extend %u-flex-box-row, %u-flex-total-flex-ended,%u-flex-align-content-center;
    @extend %u-menu;
    .on{
        color:$Color;
    }
    .on:hover{
        color:$Color;
    }
    li:hover{
        color:black;
    }

}

@media screen and (max-width: 940px) {
    .top .flex-top{
        flex-direction: column;
        .logo{
            order: -4;
            text-align: center;
            max-width: 100%;
            @media screen and(max-width:704px){
                max-width: 80%;
            }
        }

        .social{
            justify-content: center;
            @media screen and(max-width:704px){
                max-width: 100%;
            }
        }
    
        .Search{
            max-width: 400px;
            justify-content: center;
            @media screen and(max-width:704px){
                max-width: 100%;
            }
        }
    
        .menu{
            max-width: 100%;
            justify-content: center;
            @media screen and(max-width:704px){
                max-width: 20%;
                order: -3;
            }
        }
    }
}