@import 'lib.scss';
@import 'variable.scss';
@import 'Components/Button.scss';
@import 'Components/Carousel.scss';
@import 'Components/Card.scss';

.none{
    @extend  %u-display-none;
}

/*-- slider --*/

.carousel{
    @extend %u-Carousel;
}

.carousel-inner{
    @extend %u-Carousel-inner;
    
    .sliderImg{
        @extend %u-slider-img;
    }

    .sliderText{
        @extend %u-slider-text;
    }

    .indicators{
        @extend %u-indicators;
    }
}

/*-- intro --*/

.intro{
    width: 100%;
    max-width: 960px;
    height: 465px;
    margin: auto;
    border-bottom: 3px solid $border-bottom-color;
    @extend %u-flex-box-row, %u-flex-total-contered,%u-flex-justity-space-between;

    .card{
        @extend %u-card;
    }
}

/*-- Shout --*/

.shout{
    width: 100%;
    max-width: 735px;
    margin:50px auto;
    color:#666666;
    font-size: 22px;
    text-align: center;
    @extend %u-italic;
}

/*-- services --*/

.services{
    width:100%;
    max-width: 960px;
    margin: auto;
    margin-bottom: 25px;
    @extend %u-flex-box-row, %u-flex-justity-space-between;
    .card{
        width:100%;
        max-width: 300px;
        height: 125px;
        border: 1px solid black;
        @extend %u-card, %u-flex-box-row;
    
        .card_img{
            width:100%;
            max-width:80px;
            height: 80px;
            padding: 3px;
            border:1px solid #d8d8d8;
        }

        .card_text{
            width:100%;
            max-width:200px;
            max-height: 80px;
            h1{
                font-size: 13px;
                color:$Color;
            }

            p{
                font-size: 12px;
            }
        }
    }
}

