$u-button-background-color:#3bafbe;
$u-button-color:white;
$u-input-background-color:#666666;
$u-input-color:white;
$u-icon-background-color:black;
$border-top-color:#3bafbe;
$border-bottom-color:#e2e2e2;
$linkedinColor:#0e76a8;
$twitterColor:#00acee;
$pinterestColor:#c8232c;
$googleColor:#db4a39;
$rssColor:#ee802f;
$Color:#3bafbe;
$inputColor:#666666;
$font: Georgia;
