@import '../variable.scss';

%u-Button{
    width:100px;
    height: 100px;
    margin-left: 5px;
    background-color: $u-button-background-color;
    border: 0;
    border-radius: 15px;
    color:$u-button-color;
    &:active{
        transform: translateY(4px); 
    }
}