@import '../lib.scss';
@import '../variable.scss';
@import 'Button.scss';


%u-Carousel{
    width:100%;
    max-width:960px;
    height: 420px;
    margin:auto;
    border-bottom:3px solid $border-bottom-color;

    @media screen and (max-width:960px){
        padding: 25px 0;
    }
}

%u-Carousel-inner{
    width:100%;
    height: 100%;
    @extend %u-flex-box-column, %u-flex-justity-space-between,%u-flex-algin-content-space-bewteen;
}

%u-slider-img{
    width:100%;
    max-width:400px;
    height: 100%;
    @extend %u-flex-box-row, %u-flex-total-contered;
    img{
        width:100%;
    }
    @media screen and (max-width: 940px) {
        height: 50%;
        max-width: 100%;
        img{
            width:150px;
            height: 150px;
        }
    }
}

%u-slider-text{
    width:100%;
    max-width: 500px;
    height: 300px;
    @extend %u-flex-box-row, %u-flex-align-content-flex-end;

    h1{
        color:#4a4a4a;
        font-size:42px;
        margin:0;
    }
    
    p{
        font-size:16px;
        margin-bottom: 30px;
    }
    
    .readMore{
        @extend %u-Button;
        width: 120px;
        height: 35px;
    }
}

%u-indicators{
    width:100%;
    max-width: 500px;
    height: 100px;
    @extend %u-flex-box-row,%u-flex-justity-flex-end,%u-flex-align-content-center;
    .indicators_button{
        position: relative;
        width:100px;
        height: 14px;
        @extend %u-flex-box-row,%u-flex-justity-space-between;
        div{
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border:3px solid $Color;
            background-color:$Color;
        }
    }
}


@media screen and (max-width: 940px) {
    main %u-Carousel{
        height: auto;
    }
    main %u-Carousel-inner{
        flex-direction: row;
        align-content: start;
    }
    main %u-Carousel-inner  %u-slider-text{
        height: auto;
        text-align: center;
        justify-content: center;
    }
    main %u-Carousel-inner %u-indicators{
        width: 100%;
        max-width: 200px;
        height: auto;
        justify-content: center;
        align-content: flex-end;
    }
    
}

@media screen and (max-width: 704px) {
    main %u-Carousel-inner  %u-slider-text{
        max-width: 100%;
    }
    main %u-Carousel-inner %u-indicators{
        max-width: 100%;
        height: 50px;
    }
    
}