@import '../lib.scss';
@import '../variable.scss';

%u-menu{
    ul {
        @extend %u-flex-box-row, %u-flex-justity-space-between;
        width: 550px;
        li {
            font-size: 12px;
        }
    }
    .topnav{
      display: none;
    }

    @media screen and(max-width:704px){
      align-content: center;
      .topnav{
        background: black;
        display: inline;
      }
      nav ul{
        display: none;
      }
      .topnav #myLinks {
        display: none;
      }

      //-- menu mobile --//
      .mobile-container {
        margin: auto;
        background-color: #555;
        color: white;
        border-radius: 10px;
      }

      .topnav {
        background-color: #333;
      }

      .topnav #myLinks {
        display: none;
        position: relative;
        height: 0px;
        text-align: center;
      }

      .topnav a {
        color: black;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }

      .topnav a.menu-mobile {
        display: block;
        text-align: center;
      }

      .topnav #myLinks a{
        height: 30px;
        line-height: 30px;
        background-color: white;
        border: 0.5px solid black;
      }

      .topnav #myLinks a:hover{
        background-color:$Color;
        color:white;
      }

    }
}
