@import '../lib.scss';

%u-menu{
    ul {
        @extend %u-flex-box-row, %u-flex-justity-space-between;
        width: 550px;
        li {
            font-size: 12px;
        }
    }
    .menu-mobile{
        display: none;
    }

    @media screen and(max-width:704px){
        align-content: center;
        .menu-mobile{
            display: inline;
        }
        nav ul{
            display: none;
        }
    }
}
